@model StudentVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.student.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.student.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.student.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.student.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.student.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.student.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.student.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.student.Address)
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.student.StudentClass.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.student.StudentClass.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.student.StudentClass.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.student.StudentClass.Branch)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GetStudent">Back to List</a>
</div>
